---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
    <ul>
      <li><a href="/second-page">Second page</a></li>
      <li><a href="/special-page">Special page</a></li>
      <li><a href="/filter-this">Filter this page</a></li>
      <li><a href="/exclude-this">Exclude this page</a></li>
      <li><a href="/exclude-second">Exclude second page</a></li>
      <li><a href="/sitemap-index.xml">sitemap-index.xml</a></li>
    </ul>
	</body>
</html>
