---
import config from '../../site.config.mjs';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <!-- With the config const we can enable or disable a page indexing by robots -->
    <meta name="robots" content={config.disableIndexing ? 'noindex, nofollow' : 'index, follow'} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
